/* Cart Hero */
.cart-hero{
    display: grid;
    grid-template-columns: 530px 530px;
    padding: 20px;
}






/* Left Box */
.left-container{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: auto auto;
}
/* Right Box */
.right-container{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: auto auto auto;
}






/* Billing & Purchase Containers */
.billing-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (11, 1fr);
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.payment-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (7, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
}






/* Billing & Purchase Info */
.purchase-title{
    grid-column: 1/3;
    margin-left: 10px;
    margin-bottom: 10px;
}
.purchase-info-subtitles{
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.purchase-info-subtitles-address{
    grid-column: 1/3;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.purchase-info-subtitles-apt{
    grid-column: 1/3;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.purchase-info-subtitles-card-holder{
    grid-column: 1/3;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.purchase-info-subtitles-card-num{
    grid-column: 1/3;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.purchase-inputs{
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.purchase-input-address{
    grid-column: 1/3;
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.purchase-input-apt{
    grid-column: 1/3;
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.purchase-input-card-holder{
    grid-column: 1/3;
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.purchase-input-card-num{
    grid-column: 1/3;
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}







/* Cart */
.cart-items-container{
    background-color: rgb(234, 232, 235);
    margin: 150px 20px 20px 20px;
}







/* Purchase Totals Box */
.purchase-total-box{
    background-color: rgb(234, 232, 235);
    margin: 20px;
}
.subtotal-text{
    grid-column: 1/3;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.tax-text{
    grid-column: 1/3;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.total-text{
    grid-column: 1/3;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.purchase-popup-button{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(57, 57, 57);
    background-color: #f6e8b5;
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    align-self: center;
}







/* No Subscription Box */
.no-subscription-box{
    display: grid;
    grid-template-rows: repeat(4, auto);
    margin: 20px;
    grid-row: 3/4;
    background-color: rgb(234, 232, 235);
    padding: 10px;
    padding-top: 0px;
    width: 315px;
    height: 315px;
    justify-self: center;
    border-radius: 10px;
}
.cart-add-subscription-title{
    background-color: rgb(73, 135, 172);
    color: white;
    justify-self: center;
    text-align: center;
    width: 100%;
    padding: 10px 10px 0px 10px;
    border-radius: 8px;
}
.cart-add-subscription-text{
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    padding: 10px;
}
.cart-add-subscription-button{
    height: 40px;
    width: 275px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(57, 57, 57);
    background-color: #f6e8b5;
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    align-self: center;
}
.cart-add-subscription-terms{
    font-size: 0.7rem;
    margin-bottom: 2px;
    color: rgb(53, 54, 55);
    padding: 0px 15px;
}



/* Purchase Confirmation Popup */
.purchase-popup-confirmation{

}

