.contact-hero{
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    width: 500px;
}
.contact-title{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0px;
}
.contact-email{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.contact-email-input{
    margin-top: 10px;
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.contact-subject{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.contact-subject-input{
    margin-top: 10px;
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.contact-message{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    margin-bottom: 2px;
    color: rgb(53, 83, 134);
    margin-left: 15px;
}
.contact-message-input{
    margin-top: 10px;
    padding: 0.75rem 1rem;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 250px;
}
.contact-submit-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(57, 57, 57);
    background-color: #f6e8b5;
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    align-self: center;
    margin-bottom: 75px;
}