/* Title */
.pricing-main-title {
    text-align: center;
    margin: 140px 0 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #111;
}


/* Pricing Container */
.pricing-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(214, 241, 240);
    width: 1200px;
    height: 550px;
    margin-bottom: 125px;
    border-radius: 25px;
}


/* Pricing Card */
.pricing-card {
    background: #f8f8f8;
    border-radius: 15px;
    padding: 20px;
    width: 275px;
    height: 425px;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.346);
    align-self: center;
    display: grid;
    grid-template-rows: 50px 30px 30px 175px auto;
}
.pricing-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #111;
    margin: 10px;
    justify-self: center;
}
.pricing-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #3e809c;
    justify-self: center;
}
.pricing-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #111;
    padding: 20px;
}
.pricing-button{
    justify-self: center;
    align-self: center;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f9e4a6;
    transition: background-color 0.2s, transform 0.2s;
    text-decoration: none;
    display: inline-block;
}