.download-hero{
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 375px;
    padding: 20px;
    margin: 20px;
}
.download-box{
    background-color: white;
    margin: 50px;
    border-radius: 20px;
    padding: 20px;
}
.download-title{
    
}
.download-subtitle{
    font-weight: bold;
    color: rgb(102, 110, 124);
    margin-top: 0px;
}
.windows-download-button{
    font-weight: bold;
    color: white;
    background-color: rgb(73, 135, 172);
    height: 50px;
    width: 300px;
    border-radius: 12px;
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    align-self: center;
}
.windows-download-description{
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: rgb(53, 54, 55);
    padding: 0px;
    margin-top: 0px;
}
.mac-download-button{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 175px;
    border-radius: 8px;
    font-size: .75rem;
    font-weight: bold;
    color: rgb(57, 57, 57);
    background-color: #f6e8b5;
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    align-self: center;
    margin: 10px;
}
.linux-download-button{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 200px;
    border-radius: 8px;
    font-size: .75rem;
    font-weight: bold;
    color: rgb(57, 57, 57);
    background-color: #f6e8b5;
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    align-self: center;
    margin: 10px;
}
.download-terms{
    font-size: 0.7rem;
    margin-bottom: 2px;
    color: rgb(53, 54, 55);
    padding: 0px 15px;
}